@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&family=Poppins&display=swap");

:root {
  --primary-color: #900000;
  --danger-color: red;
  --success-color: green;
  --font-white: white;
  --fm-lobster: "Lobster", cursive;
  --fm-roboto-slab: "Roboto Slab", serif;
  --fm-poppins: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: var(--fm-poppins);
}

input,
button {
  font-size: 16px;
}

.lobster-fm {
  font-family: var(--fm-lobster);
}

.roboto-slab-fm {
  font-family: var(--fm-roboto-slab);
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--font-white);
  top: 0;
  position: sticky;
}

.jumbotron {
  font-size: 1.4rem;
  color: rgb(253, 247, 247);
  padding: 8% 4%;
  background-image: url("../images/bg-bookshelf.jpg");
  filter: contrast(10px);
  background-color: #ffbebe;
  background-size: cover;
  text-align: center;
  font-weight: bold;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

footer {
  padding: 12px;
  color: var(--font-white);
  background-color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.input_section,
.search_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: var(--primary-color);
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: var(--primary-color);
  color: var(--font-white);
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: var(--primary-color);
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 10px;
}

.search_section > h2 {
  text-align: center;
  color: var(--primary-color);
}

.search_section > form > .input {
  margin: 8px 0;
}

.search_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 12px 20px 12px 40px;
  border-radius: 5px;
  background-image: url("../images/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
}

.search_section > form > button {
  background-color: var(--primary-color);
  color: var(--font-white);
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: var(--primary-color);
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_title {
  font-family: var(--fm-roboto-slab);
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 8px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: var(--success-color);
  color: var(--font-white);
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: var(--danger-color);
  color: var(--font-white);
}
